@model Device_Hub.Models.Ativo

@{
    ViewBag.Title = "Create";
}

<div class="row g-3 card shadow mb-4 border-bottom-success">
    <div class="card-header py-3 d-flex justify-content-between">
        <h1 class="h3 mb-2 text-gray-800">Adicionar Ativo</h1>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row g-3 justify-content-center">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Fabricante, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Fabricante, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fabricante, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.NumeroSerie, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.NumeroSerie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroSerie, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.DataAquisicao, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.DataAquisicao, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.DataAquisicao, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Localizacao, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Localizacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Localizacao, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.ResponsavelId, "Responsável", htmlAttributes: new { @class = "form-label" })
                @Html.DropDownList("ResponsavelId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResponsavelId, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.DepartamentoId, "Departamento", htmlAttributes: new { @class = "form-label" })
                @Html.DropDownList("DepartamentoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartamentoId, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.FornecedorId, "Fornecedor", htmlAttributes: new { @class = "form-label" })
                @Html.DropDownList("FornecedorId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FornecedorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-right mt-5">
            <div class="row ">
                <div class="col-md-12">
                    <a class="btn-icon-split">
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-secondary", style = "padding: 6px 20px; font-size: 1rem;" })
                    </a>
                    <input class="btn btn-success" type="submit" value="Adicionar" style="padding: 8px 16px; font-size: 1.05rem;" />
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
